[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
lorem-text = "*"
pyinstaller = "*"
pywin32 = "*"
winshell = "*"
babel = "*"

[requires]
python_version = "3.10.10"

[dev-packages]
